{%extends "/templates/base.html"%}

<div class="row">
	<div class="span12"><p class="lead">What controller would you like?</p></div>
	
	<hr class="visible-phone">
	
	<div class="span4">
		<h3>The Switch</h3>
		<p>Turn things on, turn things off. It doesn't get much simpler than this.</p>
		<p><a class="btn btn-primary" href="#"><i class="icon-plus icon-white"></i> Add the switch</a></p>
	</div>
	
	<hr class="visible-phone">
	
	<div class="span4">
		<h3>The Button</h3>
		<p>Turn things on for a bit, then turn them off again.</p>
		<p><a class="btn btn-primary" href="#"><i class="icon-plus icon-white"></i> Add the button</a></p>
	</div>
	
	<hr class="visible-phone">
	
	<div class="span4">
		<h3>The Dial</h3>
		<p>Set things to a certain value.</p>
		<p><a class="btn btn-primary" href="#"><i class="icon-plus icon-white"></i> Add the dial</a></p>
	</div>
	
	
</div>